<html>
  <head>
    <title>Vue.js Basics</title>
    <script src="vue.js"></script>
  </head>
  <body>

    <h1>Vue Basics</h1>
    <div id="app">
      <h2>{{ title }}</h2>
      <p>My name is {{ name }}</p>
      <input type="text" @keyup="updateName" :value="name" />
      <input type="text" @keypress="updateName" />
      <br>
      two way binding
      <br>
      v-model == @keyup= :value
      <input type="text" v-model="name">
      <br>
      <h2>{{ title }}</h2>
      <button @click.alt="logMessage">alt-click me to test event modifier</button>
      <a href="http://www.google.com" @click.prevent="logMessage">Google</a>
      <br>
      <p v-if="showName">Mario</p>
      <button @click="toggleName">showname: {{showName}}</button>
      <br>
      <ul>
        <li v-for="item in items">{{item}}</li>
      </ul>
      <div v-for="(ninja, index) in ninjas">
          <p>{{index}} {{ ninja.name}}</p>
          <p>{{ ninja.age}}</p>
          <p>{{ ninja.belt}}</p>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>